# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/

/.idea/.name
/.idea/dictionaries/filippov.xml
/.idea/encodings.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/qVertex.iml
/.idea/scopes/scope_settings.xml
/.idea/vcs.xml
/.idea/workspace.xml
/QVertex/start/*.qgs~
/.idea
/.metadata/.lock
/.metadata/.mylyn/.repositories.xml.zip
/.metadata/.mylyn/repositories.xml.zip
/.metadata/.plugins/com.python.pydev.analysis/dialog_settings.xml
/.metadata/.plugins/com.python.pydev.analysis/python_v1_258tvcdekrk5tmtf5h0ez044z/python.pydevsysteminfo
/.metadata/.plugins/jdt.spelling/dictionaries/added.dic
/.metadata/.plugins/jdt.spelling/dictionaries/ignored.dic
/.metadata/.plugins/org.eclipse.core.resources/.history/16/908be072bdec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/17/808907b5c5ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/1b/a0bf0fa8ceec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/29/305dc30bc6ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/2e/3049e7d4c4ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/3a/10883aebcdec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/3b/30771521b8ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/4/40e7a9d0bcec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/64/602d67b2cbec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/66/6004bb1fc5ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/6d/00826d16c7ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/6d/80190271bbec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/6f/e0552eeb87ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/71/f00c77bd8cec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/74/a0d1781fcdec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/79/40e59fa9bdec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/7a/50715063cbec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/82/0017fa6fc9ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/83/90015ecabdec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/8f/c00132f98fec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/91/10d07064b8ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/93/10a15b9acbec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/97/5059b303c7ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/a/d09987d4c0ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/a1/903d3a75beec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/a6/d00a0ff7c8ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/b/700bdccec4ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/b/f00f17d5bdec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/b4/d011a2d8c5ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/b5/f04f2449c0ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/c2/60b623de87ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/c4/90bae37fc9ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/cb/c09ac39f2aea00141527f72fd6fa8343
/.metadata/.plugins/org.eclipse.core.resources/.history/d4/307823388dec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/de/701a9801c7ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/e8/40fa760dbeec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/eb/500225bab9ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/fc/b0da76adb9ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.history/fd/909eff89c9ec0014144ac0a9ada6cd3a
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/.indexes/af/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/.indexes/db/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/.indexes/history.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/.location
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/com.python.pydev.analysis/AdditionalProjectInterpreterInfo.pydevinfo
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/org.eclipse.egit.core/GitProjectData.properties
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/org.python.pydev/v1_astmanager/modulesKeys
/.metadata/.plugins/org.eclipse.core.resources/.projects/QVertex/org.python.pydev/v1_astmanager/pythonpath
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
/.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
/.metadata/.plugins/org.eclipse.core.resources/.root/9.tree
/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
/.metadata/.plugins/org.eclipse.core.runtime/.settings/ccw.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.as.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.css.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.adobe.flexide.mxml.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.dubture.twig.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.github.eclipsecolortheme.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.palantir.typescript.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.powerflasher.fdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.module.dsl.Module.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.puppetlabs.geppetto.pp.dsl.PP.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.js.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/com.spket.xml.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.base.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/de.walware.statet.r.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/eclihx.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/goclipse.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/jp.gr.java_conf.ussiy.app.propedit.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/jsonedit-core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sf.eclipsefp.haskell.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.sourceforge.texlipse.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/net.vtst.ow.eclipse.less.Less.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cfeclipse.cfml.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.chromium.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.cloudsmith.geppetto.pp.dsl.PP.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.codehaus.groovy.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.dadacoalition.yedit.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.angularjs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ant.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.make.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.cdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.core.resources.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.datatools.sqltools.sqleditor.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.debug.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.ruby.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.dltk.tcl.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.CSS.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.e4.ui.css.swt.theme.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.egit.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.mpc.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.epp.usagedata.recording.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jsch.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.j2ee.webservice.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.jst.jsp.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.m2e.discovery.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.context.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.monitor.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.mylyn.tasks.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.pde.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.php.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.rse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.search.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.cvs.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.team.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.editors.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.workbench.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.css.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.dtd.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.html.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.internet.cache.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.jsdt.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.sse.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.ws.service.policy.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xml.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.wst.xsl.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.xtend.core.Xtend.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.epic.perleditor.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.erlide.ui.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.jboss.ide.eclipse.freemarker.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.gradle.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.nodeclipse.enide.editors.jade.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.python.pydev.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.play2.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.scala-ide.sdt.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sourceforge.jsonedit.core.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.sweetlemonade.eclipse.json.prefs
/.metadata/.plugins/org.eclipse.core.runtime/.settings/winterwell.markdown.prefs
/.metadata/.plugins/org.eclipse.debug.core/.launches/qverterx.launch
/.metadata/.plugins/org.eclipse.debug.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.debug.ui/launchConfigurationHistory.xml
/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
/.metadata/.plugins/org.eclipse.egit.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload0.csv
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload1.csv
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/upload2.csv
/.metadata/.plugins/org.eclipse.epp.usagedata.recording/usagedata.csv
/.metadata/.plugins/org.eclipse.equinox.p2.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.jdt.core/assumedExternalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
/.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
/.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.jdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.jdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/4/15/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/4/15/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/4/18/refactorings.history
/.metadata/.plugins/org.eclipse.ltk.core.refactoring/.refactorings/.workspace/2015/4/18/refactorings.index
/.metadata/.plugins/org.eclipse.ltk.ui.refactoring/dialog_settings.xml
/.metadata/.plugins/org.eclipse.m2e.logback.configuration/logback.1.5.1.20150109-1820.xml
/.metadata/.plugins/org.eclipse.rse.core/initializerMarks/org.eclipse.rse.internal.core.RSELocalConnectionInitializer.mark
/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.gis1_0/FP.local.files_0/node.properties
/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.gis1_0/H.local_16/node.properties
/.metadata/.plugins/org.eclipse.rse.core/profiles/PRF.gis1_0/node.properties
/.metadata/.plugins/org.eclipse.search/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.editors/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench.texteditor/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/dialog_settings.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workbench.xml
/.metadata/.plugins/org.eclipse.ui.workbench/workingsets.xml
/.metadata/.plugins/org.eclipse.wst.common.snippets/hidden.xml
/.metadata/.plugins/org.eclipse.wst.common.snippets/user.xml
/.metadata/.plugins/org.eclipse.wst.internet.cache/cache.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.core/externalLibsTimeStamps
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/baseBrowserLibrary.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/browserWindow.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/dom5.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/system.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/libraries/xhr.js
/.metadata/.plugins/org.eclipse.wst.jsdt.core/variablesAndContainers.dat
/.metadata/.plugins/org.eclipse.wst.jsdt.ui/OpenTypeHistory.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.ui/QualifiedTypeNameHistory.xml
/.metadata/.plugins/org.eclipse.wst.jsdt.ui/dialog_settings.xml
/.metadata/.plugins/org.eclipse.wst.sse.core/task-tags.properties
/.metadata/.plugins/org.python.pydev.shared_ui/dialog_settings.xml
/.metadata/.plugins/org.python.pydev/dialog_settings.xml
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/0.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/1.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/2.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/3.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/4.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/5.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/6.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/7.v1_sys_astdelta
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/modulesKeys
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/pythonpath
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_1turailx4u4yvqugva902002o.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_3by9u2aqwu0pspdjolq3i390j.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_9dtavl2ap9i7clangeqv4utxj.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_aa72dpb2290865ev4yaro8fxy.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_ben9pbxujq1b17nn587pl6vvo.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_cutk4v7af1xg0o5696qq4c0md.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__b_dnskz9cijnkq0ra7glpml8cr3.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/__m_4zk3cnoobcl5is5emwkc9sm0p.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_as_83byr3niuthrzp60i3horo7ox.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_bi_9k0fst5ebhoptl9ywmexei2vm.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_bs_351s8krcd7ufh3hibbv3gcwka.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_co_17p7h6hy7mqj4kwpk7bnr2p36.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_co_7hjcvn4hmuihow5hsizipe79c.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_co_8qm1dw9xlb51hlpc4qkfifzqa.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_co_9hehap7gi4pq5q7hodsgdgygk.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_cs_53nr2l32yh7f5e2hqoxw4rajy.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_ct_7r1yodpjze2ncmikrw4v1dor8.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_el_f306g1wr2s6tl9ju1c95nast.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_ha_twmzekfpr9qo8eeobbx7gkhd.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_he_4o9yxpdmpei9le1p08f4bvj3j.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_ho_4v5ye3oaxkc1q6sp635tux2ky.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_io_6a2oy5gaqkqm3ii615tian03f.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_lo_6kobilmzhy79yr92sycr7ksy6.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_ms_68ermadd0jgu53dvqd29gwrzs.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_mu_7fepjqi67nioog9ifmjz8rkas.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_so_biim2luajm1mgf6ursap0i62v.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_sq_3xi5ho9kgfxrfwylwkc3yu3jr.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_sr_e7efviiwl1l1zd7yghxs3052c.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_ss_3a5vlericncx63k4x5vypt5mr.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_st_5we407qkjzsgbl7zjplqn5lgp.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_su_d20ksftjl8pqf0ixq4lzc8us9.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_sy_4693byppvq2bnpaddhg8gyb7j.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_te_dszdscx5i1t635s3dccd7h8nx.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_tk_282kkuzigpk8uxagfdwu58ngq.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_we_26n8w71k31rp801sh0b764fuu.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/_wi_9kzagujj2db7ne7keoph3f67l.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/aud_78l55mqil4tezlm82dv55ru39.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/bin_8m8q0ecuhb9efmp3qdrj0i4mq.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/bz2_3p5yie0zph9ye4t340v6hac7u.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/cPi_5ajnl5ns8iwmehfwnl0gnwn2d.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/cma_7cy5p8ma5plt01liyonfg9hk2.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/dat_d98b63rx3bkew9vt60k1sdtvr.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/ema_qo9kepyjr2c9fn70iux9vcn0.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/err_6mu9tid2uz2da4o2y85j88n7g.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/exc_1iq1z4hhv4z8i1xm9spc88ob9.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/fut_95ezlpwev604c7mp1qlogqbf3.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/gc_9onpr88v8s82ah7zautceet60.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/ima_2ti12vx9e2lye80ggdwrgqs2p.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/imp_6siuz3vnw8d7ip6hipoustb4n.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/ite_6t3xv6ay8fl4n3eo3bh2oyjq6.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/mat_7heinoyrzfe5rs2u15pp5onuq.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/mma_by3ow1qhblkqg0fzf9bw5ztfj.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/msv_207jcohyiqfirgo1kjado3qba.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/nt_282y5lns048cdq1025qgwg3kh.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/ope_4gkwrl4szox33lt0i0dgan789.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/os._538l3dke3pzq523cw7v74x8ip.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/os_d3eyn4a9e4aqd8o0m8spbsjxc.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/par_37niobpmfro5latc19aoq3mvv.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/pye_30qk5p3nnbtrhwfs8z0eechc6.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/sig_4uxc3256uutlb9124ncttph4e.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/sql_d19k13gsy9bra2eb4bswgf577.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/str_ceeu2xy5dk414p5onnji1v4bl.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/sys_38nscq48b69m6g8gxgx7hnnlg.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/sys_51n6z1voyt03s08qt78txtjtu.top
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/thr_d11c613apfj2p6ye569kb8bf6.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/tim_gmck7p25e37djm0e71vt17aj.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/uni_7kvdg3ophjlo7p1zxj9j4iuxb.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/win_517jk4nhods7zv9zes47h2cv.inn
/.metadata/.plugins/org.python.pydev/v1_258tvcdekrk5tmtf5h0ez044z/shell/zli_79ahfzeuauaea2hjmxnm1ruar.inn
/.metadata/version.ini
/.settings/*.prefs
/QVertex/.settings/*.prefs
